body,
html {
    margin: 5px;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Cards */

.card {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 25px;
    overflow: auto;
    background-color: white;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 120px;
}


/* Header */

header {
    height: 90px;
    background-color: white;
    display: flex;
    align-items: center;
    overflow: hidden !important;
}

/* Header mobile version */

#burger {
    float: left;
    width: 65px;
    padding: 10px;
    fill: darkblue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.2);
    z-index: 200;
}

.dropdown-content a {
    color: darkblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: darkblue;
    color: white;
}



/* Header title */

#title {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    color: darkblue;
}

/* Header logo */

#logo {
    float: left;
    width: 65px;
}

/* Header hidder for central text scroll */

#hidder {
    position: fixed;
    top: 0px;
    background-color: white;
    width: 100%;
    height: 20px;
}


/* Header links */

#links {
    font-size: 1.1em;
    margin-left: auto;
}

#links ul {
    display: flex;
}

#links ul li {
    list-style: none;
}

#links ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    text-decoration: none;
    color: darkblue;
    display: block;
}

#links ul li a:hover {
    color: white;
    background-color: darkblue;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}


/* Navigation bar */

nav ul {
    margin: 8px;
    padding: 0;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: darkblue;
    display: block;
    padding: 5px;
}

nav ul li a:hover {
    color: #fff;
    background-color: darkblue;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

nav ul li a.active {
    font-size: 20px;
    font-weight: bolder;
}




/* Students page avatar */

.name {
    text-align: left;
    font-weight: bold;
}

.avatar {
    height: 70px;

    display: flex;
    align-items: center;
}

.avatar img {
    padding: 10px;
    border-radius: 50%;
    height: 100%;
    width: auto;
}

.avatar p {
    padding: 5px;
    font-size: 15px;
}



/* Page column dividers */
/* l - large screens
   m - medium screens (tablets) 
   s - small screens (mobile phones) */


[class*="l-"] {
    float: left;
    padding: 10px;
}

[class*="m-"] {
    float: left;
    padding: 10px;
}

[class*="s-"] {
    float: left;
    padding: 10px;
}

.hide-l {display: none;}
.l-1 {width: 8.33%;}
.l-2 {width: 16.66%;}
.l-3 {width: 25%;}
.l-4 {width: 33.33%;}
.l-5 {width: 41.66%;}
.l-6 {width: 50%;}
.l-7 {width: 58.33%;}
.l-8 {width: 66.66%;}
.l-9 {width: 75%;}
.l-10 {width: 83.33%;}
.l-11 {width: 91.66%;}
.l-12 {width: 100%;}



/* General text */

h1 {
    color: darkblue;
    font-size: 1.7em;
    margin: 10px
}

h2 {
    margin: 10px
}

h3 {
    margin: 10px
}

p {
    text-align: justify;
    margin: 10px;
    padding: 0px;
}

.video {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 4px;
}

section {
    background-color: white;
}

.quote {
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
}

.right-margin {
    margin: 0px 10px 0px 0px;
}

/* Grades page */

table {
    border-collapse: collapse;
    width: 100%;
}


#grades tr:nth-child(even) {
    background-color: #ffffff;
}

#grades tr:nth-child(odd) {
    background-color: #efefff;
}

#grades tr:hover {
    background-color: #f5f5f5
}


#grades th {
    background-color: darkblue;
    color: white;
    padding: 10px;

}

th,
td {
    padding: 8px;
    text-align: center;
}


/* Footer */

footer {
    margin: 10px;
    clear: both;
    background-color: darkblue !important;
    color: white;
    text-align: center;
}

footer ul {
    padding: 0px;
    margin: 0px;
    display: inline-flex;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    padding: 10px;
    text-decoration: none;
    color: darkgray;
    display: inline-block;
}

footer ul li a:hover {
    font-weight: lighter;
    color: white;
}

.vbar {
    border-left: 3px solid white;
    height: 10px;
    left: 50%;
    margin-left: 2px;
    margin-right: 2px;
    top: 0;
}

/*Responsiveness for tablets*/

@media (max-width: 768px) {
    
    .show-m{display: inline;}
    .hide-m {display: none;}
    .m-1 {width: 8.33%;}
    .m-2 {width: 16.66%;}
    .m-3 {width: 25%;}
    .m-4 {width: 33.33%;}
    .m-5 {width: 41.66%;}
    .m-6 {width: 50%;}
    .m-7 {width: 58.33%;}
    .m-8 {width: 66.66%;}
    .m-9 {width: 75%;}
    .m-10 {width: 83.33%;}
    .m-11 {width: 91.66%;}
    .m-12 {width: 100%;}

}

/*Responsiveness for mobile phones*/

@media (max-width: 600px) {
    
    .show-s{display: inline;}
    .hide-s{display: none;}
    .s-1 {width: 8.33%;}
    .s-2 {width: 16.66%;}
    .s-3 {width: 25%;}
    .s-4 {width: 33.33%;}
    .s-5 {width: 41.66%;}
    .s-6 {width: 50%;}
    .s-7 {width: 58.33%;}
    .s-8 {width: 66.66%;}
    .s-9 {width: 75%;}
    .s-10 {width: 83.33%;}
    .s-11 {width: 91.66%;}
    .s-12 {width: 100%;}

}

/* Icons */

.newspaper {
    background: url('/assets/icons/news.png');
    height: 20px;
    width: 20px;
    display: block;
}

.send {
    background: url('/assets/icons/send.png');
    height: 20px;
    width: 20px;
    display: block;
}

/* Fontawesome colors */

[class*="fa-"] {
    color: darkblue;
}

