
*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


body, html {
  width: 100%;
  margin: 0;
}

.card{
    box-shadow: 3px 12px 57px -18px rgba(0,0,0,0.75);
    padding: 25px;   
}

.sticky {
    position: fixed;
    top:10px;
    position:-webkit-sticky;
}


.wrap-right {
    float: right;
    margin: 15px;
}

.wrap-left {
    float: left;
    margin: 15px
}

.one-fourth-left{
    float: left;
    width: 25%;
    padding: 10px;
}

.one-fourth-right{
    float: right;
    width: 25%;
    padding: 10px;
}

.half-left{
    float: left;
    width: 50%;
    padding: 10px;
}

header {
    padding: 20px;
    background-color:aquamarine;
    overflow: hidden;
}

header>p {
    float:left;
    padding: 40px 20px;
    width: 30%;
    
}

nav {
    background-color: bisque; 
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: darkblue;
    display: block;
}

nav ul li a:hover{
    color: #fff;
    background-color: black;
    
}

nav ul li a.active{
    font-size: 20px;
    font-weight: bolder;
}

aside {
    background-color:aqua;
}

section {
    background-color: darksalmon;
}

footer {
    padding: 30px;
    clear:both;
    background-color:darkblue;
    color: white;

    text-align: center;
}


#logo {
    float: left;
    padding: 10px;
}

#links {
    float: right;
    padding: 40px 0;
}

#links ul{
    padding: 0px;
    margin: 0px;
    display: flex;
}

#links ul li{
    list-style: none;
}

#links ul li a{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    text-decoration: none;
    color: darkblue;
    display: block;
}

#links ul li a:hover{
    font-weight: bolder;
    color: white;
    background: #000;
}

#burger {
    display: none;
}

/*Responsiveness for tablets*/

@media (max-width: 768px) {

    .one-fourth-right {
        display: none;
    }
    
    .half-left {
        width: 75%;
    }
    
    #links {
        display: none;

    }
}

/*Responsiveness for mobile phones*/

@media (max-width: 600px) {

    .one-fourth-left {
        display: none;
    }
    
    .half-left {
        width: 100%;
    }
    
    #logo {
        display: none;
    }
    
    #burger {
        display: none;
    }
    
    
}
