* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    margin: 0;
    height: 100%;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Central box with content */

.box {
    background-color: white;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    overflow: hidden;

    height: 450px;
    width: 750px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.2);

}


#slider {
    background-color: darkblue;
    color: white;
    width: 40%;
    height: 100%;
    z-index: 999;
    position: absolute;

    /* Modified by js */
    left: 0px;
    transition: 0.8s;

}

#slider-register {
    position: absolute;
    transition: 0.8s;
    padding: 20px;


    /* Initially not shown */
    opacity: 0;
    z-index: -1;


    /* Initially hidden on the left */
    left: -200px;
}

#slider-login {
    position: absolute;
    transition: 0.8s;
    padding: 20px;

    /* Initially shown */
    opacity: 1;
    z-index: 1;

    /* Will be hidden on the right */
    right: 160px;
}

#box-content-register {
    padding: 40px;
    position: absolute;
    width: 40%;
    transition: 0.8s;
    left: 200px;
    z-index: 2;
    background-color: white;
    opacity: 0;
}

#box-content-login {
    padding: 40px;
    position: absolute;
    width: 60%;
    left: 300px;
    transition: 0.8s;
    z-index: 1;
    background-color: white;
    
}

#box-header {
    display: none;
    width: 100%;
    height: 75px;
    background-color: darkblue;
    position: sticky;
    top: 0;
    left: 0;

}

/* Button switch from login to register and vicerversa*/

#switch-login {}

#switch-register {}

/* Background image */

.bg-img {
    background-image: url("/images/uc3m_campus.jpg");
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
}


/* Login and register button */

.button {
    padding: 10px 50px;
    border: 2px solid darkblue;
    background-color: darkblue;

    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;

    color: white;
    display: inline;
    font-size: 1.1em;
    transition: 0.3s;

}

.button:hover {
    background: white;
    color: darkblue;
}

.button i {
    color: white;
}

.button:hover i {
    color: darkblue;
}

label {
    font-size: 20px;
}

input {}

a {
    text-decoration: none;
}

#switch-register-small {
    display: none;
}

#switch-login-small {
    display: none;
}

/*Responsiveness for small screens (mobile phones included) */

@media (max-width: 768px) {


    /* Box for mobile phones and tablets */

    .box {
        background-color: white;
        height: 90%;
        width: 90%;
        overflow: scroll;

        -webkit-border-radius: 17px;
        -moz-border-radius: 17px;
        border-radius: 17px;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.2);

    }




    #box-content-register {
        position: absolute;
        left: 0;
        padding: 40px;
        width: 100%;
    }

    #box-content-login {
        position: absolute;
        left: 0;
        padding: 40px;
        width: 100%;
    }

    .box-small > p {
        text-align: center;
    }

    #box-header {
        display: inline;
    }

    #slider {
        display: none;
    }

    #switch-register-small {
        display: inline;
    }

    #switch-login-small {
        display: inline;
    }

}


/* Forms */

.form-input {
    margin-bottom: 20px;
    font-weight: bolder;
    text-transform: uppercase;

}

.form-input > label {
    font-size: 18px;
    margin-bottom: 10px;

}

.form-input > input {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid gray;
    padding: 12px 19px;
    font-size: 17px;
    width: 100%;
    padding-top: 10px;

}

.form-input > input:focus {
    border: 1px solid darkblue;
    outline: none !important;
    transition: 0.5s;

}


.required::after {
    content: '*';
    margin-left: 2px;
    color: red;
}

.form-input > input:focus {
    border: 1px solid darkblue;
    outline: none !important;
    transition: 0.5s;

}

.wrong > label {
    color: red;

}

.form-input > input:focus:required:invalid {
    border: 2px solid red !important;
}

.form-input > input:required:invalid {
    border: 2px solid red !important;
}

form:invalid button {
    background-color: salmon;
    pointer-events: none;
}

.form-checkmark {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 15px;
    padding-bottom: 20px;
}

.form-checkmark > label {
    font-size: 17px;
}

.form-checkmark > h2 {
    margin: 2px;
}
