body,
html {
    margin: 5px;
    height: 100%
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
        text-align: center;
    align-content: center;
}


/* Cards */
.card {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 25px;
    overflow: auto;
    background-color: white;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.options{
    padding: 2px;
    border: 3px solid darkblue;
    background-color: darkblue;
    
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    
    color: white;
    display: inline;
    font-size: 0.9em;
    transition: 0.3s;
}

.options:hover{
    background: white;
    color: darkblue;
    margin: 0px;
}

ul {
    padding-inline-start: 0px;
}

body p {
        text-align: center;
    align-content: center;
}


[class*="l-"] {
    float: left;
    padding: 10px;
}

[class*="m-"] {
    float: left;
    padding: 10px;
}

[class*="s-"] {
    float: left;
    padding: 10px;
}

.hide-l {display: none;}
.l-1 {width: 8.33%;}
.l-2 {width: 16.66%;}
.l-3 {width: 25%;}
.l-4 {width: 33.33%;}
.l-5 {width: 41.66%;}
.l-6 {width: 50%;}
.l-7 {width: 58.33%;}
.l-8 {width: 66.66%;}
.l-9 {width: 75%;}
.l-10 {width: 83.33%;}
.l-11 {width: 91.66%;}
.l-12 {width: 100%;}

/* iFrame */
iframe {
    border: 0;
    overflow: visible;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* General text */

h1 {
    color: darkblue;
    font-size: 1.7em;
    margin: 10px
}

h2 {
    margin: 10px;
    color: darkblue;

}

h3 {
    margin: 10px
}

p {
    text-align: justify;
    margin: 10px;
    padding: 0px;
}

.right-margin {
    margin-right: 10px;
}


th,
td {
    padding: 8px;
    text-align: center;
}




/*Responsiveness for tablets*/

@media (max-width: 768px) {
    
    .show-m{display: inline;}
    .hide-m {display: none;}
    .m-1 {width: 8.33%;}
    .m-2 {width: 16.66%;}
    .m-3 {width: 25%;}
    .m-4 {width: 33.33%;}
    .m-5 {width: 41.66%;}
    .m-6 {width: 50%;}
    .m-7 {width: 58.33%;}
    .m-8 {width: 66.66%;}
    .m-9 {width: 75%;}
    .m-10 {width: 83.33%;}
    .m-11 {width: 91.66%;}
    .m-12 {width: 100%;}
}

/*Responsiveness for mobile phones*/

@media (max-width: 600px) {
    
    .show-s{display: inline;}
    .hide-s{display: none;}
    .s-1 {width: 8.33%;}
    .s-2 {width: 16.66%;}
    .s-3 {width: 25%;}
    .s-4 {width: 33.33%;}
    .s-5 {width: 41.66%;}
    .s-6 {width: 50%;}
    .s-7 {width: 58.33%;}
    .s-8 {width: 66.66%;}
    .s-9 {width: 75%;}
    .s-10 {width: 83.33%;}
    .s-11 {width: 91.66%;}
    .s-12 {width: 100%;}
}

/* Fontawesome colors */

[class*="fa-"] {
    color: darkblue;
}