#button {
    display: block;
    margin: 20px auto;
    background: darkblue;
    color: white;
    border: 0;
    padding: 6px 10px;
    cursor: pointer;
}
 
#button:hover {
    background: gray;
    margin: 0px;
}

.button i {
    color: white;
}

.button:hover i{
    color: darkblue;
}

 
/* Background */
.popup-wrapper {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 
.popup {
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 0;

}

 
 
.popup-close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 1.5rem;
}

.popup-content iframe{
    height: 500px;
    width: 300px;
    border: 0;
}